* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
    height: 10000px;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    width: 470px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section__desc {
    width: 470px;
    padding-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* Header */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}
/* =============hero============= */
.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 517px;
}

.hero__media {
    width: 534px;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__action {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    z-index: 1;
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    z-index: 0;
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* =======================services====================== */
.services {
    padding: 170px 0;
}

.services-top {
    width: 468px;
    text-align: center;
    margin: 0 auto;
}

.services__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services__info {
    width: 470px;
}

.services__link {
    display: flex;
    align-items: flex-start;
    padding: 21px 18px 20px 22px;
}

.services__item:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    z-index: 1;
}

.services__item {
    transition: 0.35s;
}

.services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    border-radius: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.7s;
}

.services__item:hover .services__icon {
    background: #2e80ce;
}

.services__item:hover .services__icon .tooth {
    fill: #ffffff;
}

.services__content {
    margin-left: 19px;
}

.services__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #10375c;
}

.services__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.services__btn {
    margin-top: 75px;
}

/* ===================how_it_works======================= */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__lish {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work__item {
    width: 370px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 43px 42px;
    transition: 0.25s;
}

.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work__desc {
    display: inline-block;
    margin-top: 28px;
    width: 254px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work__cta {
    display: block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work__item:hover .work__cta {
    color: #2e80ce;
}

/* =============feature============ */
.feature {
    padding: 170px 0;
}

.feature__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
}

.feature__img {
    width: 512px;
    height: 370px;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:nth-child(2) {
    position: absolute;
    bottom: -121px;
    right: -58px;
    width: 332px;
    height: 370px;
    filter: none;
}

.feature__btn {
    margin-top: 38px;
}

/* ===================members==================== */
.members {
    margin-top: 121px;
}

.members-top {
    width: 470px;
    align-items: center;
    display: flex;
    gap: 38px;
    flex-direction: column;
    margin: 0 auto;
}

.members__title {
    margin: 0 auto;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.members__desc {
    margin: 0 auto;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.members__lish {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.members__item:hover .members__img {
    transform: scale(1.1);
}

.members__image {
    background: #eaf6ff;
    border-radius: 6px;
    padding-top: 28px;
    overflow: hidden;
}

.members__img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.members__info {
    display: flex;
    flex-direction: column;
}

.control-button {
    margin-top: 38px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.control-button__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    transition: 0.25s;
}

.control-button__img:hover {
    border: none;
    background: #2e80ce;
}

.control-button__img:hover path {
    stroke: white;
}

/* =================install================= */
.install {
    margin-top: 265px;
}

.install__content {
    background: #2e80ce;
    border-radius: 4px;
    padding: 0 70px;
    display: flex;
    gap: 160px;
    align-items: center;
}

.install__mobile-app {
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
    display: block;
}

.install__info {
    width: 586px;
}

.install__btn {
    padding: none;
}

.install__heading {
    max-width: 489px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.install__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.install__row {
    margin-top: 38px;
    display: flex;
    gap: 13px;
}

/* ===================news====================== */
.news {
    margin-top: 170px;
}

.news__btn {
    justify-content: flex-start;
    margin-top: 28px;
}
.news__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__inter {
    width: 40%;
}

.news__cta {
    display: inline-block;
    padding-top: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375c;
}

.news__thumb {
    margin-left: -0.5px;
    width: 269px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.news__lish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.news__item {
    width: 270px;
    border: 1px solid #e8ebee;
    border-radius: 12px;
    transition: 0.25s;
}

.news__item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.news__item:hover .news__link {
    color: #2e80ce;
}

.news__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news__link {
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #10375c;
}

.news__info {
    padding: 18px 22px 21px 22px;
}
/* ===================appointment================== */

.appointment{
    margin: 170px 0;
}

.appointment__content{
    padding: 100px 0;
    background: #F7FBFF;
}

.appointment__heading{
    margin: 0 auto;
    width: 813px;
}

.appointment__line{

    margin: 18px auto;
    background: #2E80CE;
    width: 136px;
    height: 2px;
}

.appointment__desc{
    width: 617px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
    margin: 0 auto;
    text-align: center;
    
}

.appointment__btn{
display: block;
margin-top: 38px;
    margin: 38px auto 0;

font-size: 1.8rem;

}

/* ===================footer================ */
.footer {
    background: #10375C;
    font-family: 'Open Sans', sans-serif;
}

.footer__content{
    padding: 100px 0 42px;
}

.footer__lish{
    display: grid;
    grid-template-columns: 336px 1fr 1fr 332px;
    column-gap: 78px;
}

.footer__lish::after{
    margin-top: 28px;
    display: block;
    content: "";
    width: 1170px;
height: 1px;
background: #406181;
}

.footer__title:not(:nth-child(1)){
    margin-top: 28px;
}

.footer__title{
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.footer__desc{
    line-height: 1.86;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #A9B3BB;
}

.footer__desc--extra-space{
    margin-top: 28px;
}

.footer__icon-media{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.footer__icon-bg{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
height: 32px;
border-radius: 50%;
background: #FFFFFF;
}

.footer__icon-bg:first-child{
    background: #2E80CE;
}

.footer__subscribe{
    max-width: 273px;
}

.footer__form{
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer__input{
    border: 1px solid #406181;
border-radius: 4px;
max-width: 212px;
height: 46px;
background-color: transparent;
}

.footer__btn {
    display: inline-block;
    border-radius: 4px;
    width: 108px;
    height: 46px;
    background: #2E80CE;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #FFFFFF;
}

.footer__copyright{
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #AAB3BA;

}